@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500;1,600&family=Lexend+Peta:wght@300;400;600;700&family=Lexend:wght@300;400;700&family=Lora:ital,wght@0,400;0,500;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
color hex code : mid grey #5F6673 / mid blue #2B3D5B
*/

body {
    line-height: 1.2;
    background: #0F1021;
}

.homepage-banner {
    background-image: url("../images/bg-top.jpg");
    background-position: center;
    height: 300px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    font-family: "Lexend Peta", sans-serif;
}

h3 {
    font-size: 1.5rem;
    font-family: "Lexend Peta", sans-serif;
}

h4 {
    font-size: 1rem;
}

p {
    font-family: "Cormorant Garamond", serif;
    font-size: 1.3rem;
    color: #E6E3DF;
}

/* Navigation bar styles */

.navbar {
    height: auto;
    background: transparent;
}

.nav-top {
    display: flex;
}

.logo, 
.logo-link {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin: auto;
    font-family: "Lexend Peta", sans-serif;
    color: #E6E3DF;
}

.logo-link {
    text-decoration: none;
    color: inherit;
}

.shopping-cart {
    position: absolute;
    top: 1rem;
    right: 1rem;
    align-content: flex-end;
    width: 4rem;
}

.nav-bottom {
    display: flex;
    justify-content: center;
}

.menu-links {
    display: flex;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    font-family: "Lexend Peta", sans-serif;
    text-transform: uppercase;
    border: 2px solid #E6E3DF;
    border-radius: 2px;
    line-height: 1.2;
    background-image: url("../images/background-one.jpg");

    /* background-position: center center; */
}

.nav-link {
    color: #E6E3DF;
    font-size: 1.25rem;
    margin: 0.5rem;
}

.toggle-cart {
    background: transparent;
    border-color: transparent;
    font-size: 1.6rem;
    cursor: pointer;
    color: #E6E3DF;
}

/* Shopping Cart Styles */

.cart-overlay.show {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #FFF;
}

.cart {
    background: #0F1021;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 3rem;
    display: grid;
    transform: translateX(100%);
}

.show .cart {
    transform: translateX(0);
    transition: 0.5s;
}

.cart-close-btn {
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    color: #FFF;
    position: absolute;
    top: 0.5rem;
    left: 1rem;
    cursor: pointer;
}

.cart header {
    text-align: center;
}

.cart-total {
    text-align: center;
    margin-bottom: 2rem;
    font-family: "Lexend Peta", sans-serif;
    text-transform: uppercase;
}

.cart-checkout {
    display: block;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.cart-checkout-btn {
    background: #FFF;
    padding: 0.5rem;
    border-radius: 6px;
    border: transparent;
    color: #000;
    cursor: pointer;
    font-family: "Lexend Peta", sans-serif;
    text-transform: uppercase;
}

/* cart item */

.cart-title {
    font-family: "Lexend Peta", sans-serif;
    text-transform: uppercase;
}

.cart-item {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 1.5rem;
    align-items: center;
}

.cart-item-name {
    font-family: "Lexend Peta", sans-serif;
    text-transform: uppercase;
    margin-bottom: 0.15rem;
    font-size: 1.5rem;
}

.cart-item-price {
    margin-bottom: 0;
    font-size: 1.8rem;
    font-family: "Cormorant Garamond", serif;
}

.cart-item-remove-btn {
    background: #FFF;
    padding: 0.5rem;
    border-radius: 6px;
    border: transparent;
    color: #000;
    cursor: pointer;
    font-family: "Lexend Peta", sans-serif;
    text-transform: uppercase;
}

.cart-item-amount {
    margin-bottom: 0;
    text-align: center;
}

.cart-item-increase-btn,
.cart-item-decrease-btn {
    background: transparent;
    border-color: transparent;
    color: #FFF;
    cursor: pointer;
    font-size: 0.85rem;
    padding: 0.25rem;
}

/* global page styles */

.category-heading {
    font-family: "Lexend Peta", sans-serif;
    text-transform: uppercase;
    color: #E6E3DF;
    margin: 0.5rem;
}

/* home page styles */

.shop-btn {
    background: #FFF;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #000;
    color: #000;
    cursor: pointer;
    font-family: "Lexend Peta", sans-serif;
    text-transform: uppercase;
}

/* product styles */

.product-display {
    border: 1px solid #E6E3DF;
    border-radius: 2px;
    background: #0F1021;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    padding: 0.5rem;
    margin: 1rem;
    width: 50%;
    display: flex;
}

img {
    width: 300px;
}

.product-category {
    color: #E6E3DF;
    margin: 0.5rem;
}

.product-title {
    color: #E6E3DF;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    margin: 0.5rem;
    font-family: "Lexend Peta", sans-serif;
    border: 2px solid #E6E3DF;
    border-radius: 2px;
}

.product-price {
    color: #E6E3DF;
}
.product-description {
    color: #E6E3DF;
}

.addToBasketBtn {
    background: #E6E3DF;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #000;
    color: #000;
    cursor: pointer;
    font-family: "Lexend Peta", sans-serif;
    text-transform: uppercase;
}

.column {
    float: left;
    width: 50%;
}

.product-display:after {
    content: "";
    display: table;
    clear: both;
}


@media screen and (max-width:600px) {
    .product-display {
        width: 100%;
        display: grid;
    }

    .column {
        float: left;
        width: 100%;
    }
    
}