@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500;1,600&family=Lexend+Peta:wght@300;400;600;700&family=Lexend:wght@300;400;700&family=Lora:ital,wght@0,400;0,500;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
color hex code : mid grey #5F6673 / mid blue #2B3D5B
*/

body {
    line-height: 1.2;
    background: #0F1021;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    font-family: "Lexend Peta", sans-serif;
}

h3 {
    font-size: 1.5rem;
    font-family: "Lexend Peta", sans-serif;
}

h4 {
    font-size: 1rem;
}

p {
    font-family: "Cormorant Garamond", serif;
    font-size: 1.3rem;
    color: #E6E3DF;
}

/* Navigation bar styles */

.navbar {
    height: auto;
    background: transparent;
}

.nav-top {
    display: flex;
}

.logo, 
.logo-link {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin: auto;
    font-family: "Lexend Peta", sans-serif;
    color: #E6E3DF;
}

.logo-link {
    text-decoration: none;
    color: inherit;
}

.shopping-cart {
    position: absolute;
    top: 1rem;
    right: 1rem;
    align-content: flex-end;
    width: 4rem;
}

.nav-bottom {
    display: flex;
    justify-content: center;
}

.menu-links {
    display: flex;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    font-family: "Lexend Peta", sans-serif;
    text-transform: uppercase;
    border: 2px solid #E7D7BE;
    border-radius: 2px;
    line-height: 1.2;
    background-image: url("../images/background-one.jpg");

    /* background-position: center center; */
}

.nav-link {
    color: #E6E3DF;
    font-size: 1.25rem;
    margin: 0.5rem;
}

.toggle-cart {
    background: transparent;
    border-color: transparent;
    font-size: 1.6rem;
    cursor: pointer;
    color: #E6E3DF;
}

/* Shopping Cart Styles */

.cart-overlay.show {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #FFF;
}

.cart {
    /* background: #0F1021; */
    background-image: url("../images/background-one.jpg");
    background-position: center center;
    background-size: cover;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 3rem;
    display: grid;
    transform: translateX(100%);
}

.show .cart {
    transform: translateX(0);
    transition: 0.5s;
}

.cart-close-btn {
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    color: #FFF;
    position: absolute;
    top: 0.5rem;
    left: 1rem;
    cursor: pointer;
}

.cart header {
    text-align: center;
}

.cart-total {
    text-align: center;
    margin-bottom: 2rem;
    font-family: "Lexend Peta", sans-serif;
    text-transform: uppercase;
}

.cart-checkout {
    display: block;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.cart-checkout-btn {
    background: #FFF;
    padding: 0.5rem;
    border-radius: 6px;
    border: transparent;
    color: #000;
    cursor: pointer;
    font-family: "Lexend Peta", sans-serif;
    text-transform: uppercase;
}

/* cart item */

.cart-title {
    font-family: "Lexend Peta", sans-serif;
    text-transform: uppercase;
}

.cart-item {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 1.5rem;
    align-items: center;
}

.cart-item-name {
    font-family: "Lexend Peta", sans-serif;
    text-transform: uppercase;
    margin-bottom: 0.15rem;
    font-size: 1.5rem;
}

.cart-item-price {
    margin-bottom: 0;
    font-size: 1.8rem;
    font-family: "Cormorant Garamond", serif;
}

.cart-item-remove-btn {
    background: #FFF;
    padding: 0.5rem;
    border-radius: 6px;
    border: transparent;
    color: #000;
    cursor: pointer;
    font-family: "Lexend Peta", sans-serif;
    text-transform: uppercase;
}

.cart-item-amount {
    margin-bottom: 0;
    text-align: center;
}

.cart-item-increase-btn,
.cart-item-decrease-btn {
    background: transparent;
    border-color: transparent;
    color: #FFF;
    cursor: pointer;
    font-size: 0.85rem;
    padding: 0.25rem;
}

/* global page styles */

.category-heading {
    font-family: "Lexend Peta", sans-serif;
    text-transform: uppercase;
    color: #E6E3DF;
    margin: 0.5rem;
    text-align: center;
}

/* home page styles */

.homepage-banner {
    background-image: url("../images/bg-top.jpg");
    background-position: center;
    height: 300px;
    margin-top: -2rem;
}

.shop-btn {
    background: #0F1021;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 2px;
    border: 2px solid #E6E3DF;
    color: #E6E3DF;
    cursor: pointer;
    font-family: "Lexend Peta", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

/* product styles */


.shop {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.product-display {
    display: flex;
    align-items: center;
    width: 75vw;
    max-width: 750px;
    padding: 50px 30px 50px 20px;
    margin-bottom: 1rem;
    border: 1px solid #E7D7BE;
    border-radius: 2px;
    border-radius: 2px;
    background-image: url("../images/background-one.jpg");
    /* background-position: center center; */
}

img {
    max-width: 300px;
    height: 300px;
    object-fit: cover;
    margin-left: -60px;
    margin-right: 30px;
    box-shadow: 0 60px 40px rgb(0 0 0 / 8%);
    border: 1px solid #E7D7BE;
}

.product-category {
    color: #E6E3DF;
    margin: 1rem;
    text-align: center;
}

.product-title {
    color: #E6E3DF;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    margin: 0.5rem;
    font-family: "Lexend Peta", sans-serif;
    border: 2px solid #E6E3DF;
    border-radius: 2px;
}

.product-price {
    color: #E6E3DF;
    margin: 0.5rem;
}

.product-description {
    color: #E6E3DF;

    font-weight: 400;
    margin: 0.5rem;
    margin-bottom: 24px;
}

.addToBasketBtn {
    background: #0F1021;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 2px;
    border: 2px solid #E6E3DF;
    color: #E6E3DF;
    cursor: pointer;
    font-family: "Lexend Peta", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

/* media queries for product cards */ 

@media only screen and (max-width: 800px) {

    .product-display {
        margin: 80px 40px;
        padding-left: 50px;
        padding-right: 50px;
        width: 320px;
        flex-direction: column;
    }
    
    img {
        margin: -100px 0 30px 0;
        width: 100%;
    }
    
    .product-title {
        margin-right: 0;
    }

    h2 {
        font-size: 1.8rem;
        font-family: "Lexend Peta", sans-serif;
    }
}

/* footer styles */

.page-footer {
    margin-top: 3rem;
    text-align: center;
    text-transform: uppercase;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #0F1021;
    border-top: 1px solid #E7D7BE;
    z-index: 1;
}
